# LaTeX Compilation Junk
main.aux
main.fdb_latexmk
main.fls
main.log
main.synctex.gz
main.tex.latexmain
main.toc
main.pdf
*.fls
*.out
*.xdv
*.pyc

# Editor and linux stuff
/scripts/pycache/
.directory
.vscode


universityphysicswithmodernphysics15e.pdf